* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* Estilos exclusivos del header*/
header {
    background: grey;
    padding: 5px 50px;
}
#logo-luna {
    width: 50px;
}

#logo-luna img {
    border-radius: 100%;
    border: 2px solid white;
}

/* estilos del hero */
#hero {
    position: relative;
}

#hero #computer {
    display: inline-block;
    width: 100%;
}

#hero .informacion-contenedor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: lightskyblue;
    padding: 0 50px;
}

#hero .informacion-contenedor #fotofemenino {
    width: 200px;
}

#hero .informacion-contenedor #fotofemenino img {
    border-radius: 100%;
}

#hero .informacion-contenedor .Information {
    margin-left: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
}

#hero .informacion-contenedor .Information span {
    display: inline-block;
    color: plum;
    margin-bottom: 70px;
}

/* estilos del main */

main {
    padding: 100px;
}

main .social-icons {
    display: flex;
    justify-content: right;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li {
    margin-left: 8px;
}

main .social-icon {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: aqua;
    margin-left: 8px;
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

main .social-icon img {
    width: 50px;
    height: 50px:
}